@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.card {
    z-index: 1;
    width: 300px;
    height: 350px;
    box-shadow: 5px 7px 15px black;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.linkNameCard {
    padding-bottom: 3px;
    position: absolute;
    width: 300px;
    height: 50px;
    z-index: 10;
    background-color: rgb(137, 228, 195);
    opacity: 1;
    transform:translateY(350px);
    display: flex;
    align-items: center;
    justify-content: center;   
    font-family: 'Creepster', cursive;
}

@keyframes translateTop {
    0% {
        transform:translateY(350px);
    }
    100% {
        transform:translateY(270px);
    }
}

.card:hover .linkNameCard {
    animation-name: translateTop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.linkName {
    font-size: 28px;
    color: black;
    text-decoration: none;
}

img {
    z-index: 2;
    width: 300px;
    height: 350px;
    border-radius: 30px;
}

.favorite {
    position: absolute;
    border: none;
    border-radius: 7px;
    left: 5px;
    background-color: transparent;
    font-size: 30px
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 16px;
    right: 20px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 50%;
    transform: scale(1.7);
    border: none;
    
}

.button:hover {
    background-color: rgb(255, 71, 71);
    transition: 0.5s;
}

.prop {
    height: 0px;
    width: 250px;
}