.favoritesContainer {
    display: grid;
    /* align-items: center; */
    grid-template-rows: 80px 80px 420px;
    grid-template-columns: 19% 19% 19% 19%;
    /* flex-direction: column; */
    width: 100%;
    height: 100%;
    background-color: rgb(175, 250, 250);
}

.favoritesContainer > h1 {
    grid-column: 3 / 5 ;
}

.selectContainer {
    background-color: red;
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.select {
    border-radius: 5px;
    height: 35px;
    width: 150px;
    cursor: pointer;
    border: none;
    padding-left: 20px;
    font-size: 15px
}

.select1 {
    padding-left: 25px;
}
