.homeContainer {
    background-color: rgb(175, 250, 250);
    display: grid;
    grid-template-rows: 100px 420px;
    grid-template-columns: 19% 19% 19% 19%;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    width: 100%;
    height: 100vh;
    justify-items: center;
    justify-content: center;
}

.homeContainer > h1 {
    grid-column: 1 / 5;
}

.homeContainer {
    /* display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%; */
}