@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.navBar {
    background-color: black;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img {
    width: 28%;
    height: 75%;
}

.buttonsContainer {
    height: 40px;
    width: 25%;
}

.aboutButton {
    height: 100%;
    width: 33%;
    background-color: black;
    border: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.aboutLinkButton {
    color: white;
    text-decoration: none;
}

.aboutButton:hover {
    background-color: rgb(45, 187, 192);
    border-radius: 7px;
    transition: 0.5s;
}

.homeButton {
    height: 100%;
    width: 33%;
    background-color: black;
    border: none;
    font-size: 20px;
    border-left: solid 1px white;
    font-family: 'Poppins', sans-serif;
}

.homeLinkButton {
    color: white;
    text-decoration: none;
}

.homeButton:hover {
    background-color: rgb(45, 187, 192);
    border-radius: 7px;
    transition: 0.5s;
}

.favoritesButton {
    height: 100%;
    width: 33%;
    background-color: black;
    border: none;
    font-size: 20px;
    border-left: solid 1px white;
    font-family: 'Poppins', sans-serif;
}

.favoritesLinkButton {
    color: white;
    text-decoration: none;
}

.favoritesButton:hover {
    background-color: rgb(45, 187, 192);
    border-radius: 7px;
    transition: 0.5s;
}

.randomCharacterButton {
    background-color: rgb(45, 187, 192);
    height: 40px;
    width: 135px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.randomCharacterButton:hover {
    background-color: rgb(139, 237, 241);
    transition: 0.4s;
}

.logout {
    background-color: rgb(45, 187, 192);
    height: 27%;
    width: 45px;
    border-radius: 18px;
    border: none;
}

.logout:hover {
    background-color: rgb(255, 71, 71);
    transition: 0.2s;
}